Makefile
ebin
priv
.eunit
*.o
*.lo
*.la
*~
*.swp
_build
c_src/snappy/*.d
c_src/*.d
compile_commands.json

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Erlang ###
.eunit
*.o
*.plt
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

### Erlang Patch ###
rebar3.crashdump
